
<div class="main">
    <h2 class="title">Stay Home Stay Safe</h2>
    <div class="home">
      <div class="tree">
        <div class="treeMain">
          <div class="branch"></div>
          <div class="branch"></div>
        </div>
        <div class="trunk"></div>
      </div>
      <div class="homeBody"> 
        <div class="wall"></div>
        <div class="chimney"></div>
        <div class="terrace"> </div>
        <div class="door"></div>
        <div class="window"></div>
      </div>
      <div class="ground"></div>
      <div class="covid">   </div>
      <div class="covid1"></div>
      <div class="covid2">   </div>
      <div class="covid3"></div>
    </div>
  </div>