html{
    /* width: 100%; */
    /* height: 120%; */
    /* margin: 0;
    padding: 0; */
    max-width:  100%;
}

body {
    align-items: center;
    background-color: #15172b;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: -1em;
    padding: 0px;

    overflow: hidden;
  }
  